<ion-content>

<img src="../../assets/img/login-bg.jpg" alt="Smiley face" height="250" width="250" class="login-img">

<div class="container login-table">
    <ion-list>

      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" value=""></ion-input>
      </ion-item> 

    </ion-list>
    <ion-button expand="block" href="/home">Log In</ion-button> 
</div>


</ion-content>
