.login-table {
    margin-top: 10vh;
    margin-left: 40vw;
}

.login-img {
    margin-top: 15vh;
    margin-left: 25vw;
}

.container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}