<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button href="/home">
            <ion-icon slot="icon-only" name="md-stats"></ion-icon>
          </ion-button>
          <ion-button href="/settings">
            <ion-icon slot="icon-only" name="ios-cog"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button href="/login">
            <ion-icon slot="icon-only" name="md-log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title><b>Your Past Donations</b></ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-item>
      <ion-label><b>Card Number</b></ion-label>
      <ion-label text-right><b>Donation Amount</b></ion-label>
    </ion-item>    
        

    <ion-list>
      <ion-item>
        <ion-label>xxxx-xxxx-xxxx-4985</ion-label>
        <ion-label text-right>$0.46 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>xxxx-xxxx-xxxx-4985</ion-label>
        <ion-label text-right>$0.02</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>xxxx-xxxx-xxxx-9992</ion-label>
        <ion-label text-right>$0.79</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>xxxx-xxxx-xxxx-5454</ion-label>
        <ion-label text-right>$0.23</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>xxxx-xxxx-xxxx-4985</ion-label>
        <ion-label text-right>$0.11</ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label><b>Donation Total:</b></ion-label>
      <ion-label text-right><b>$1.61</b></ion-label>
    </ion-item>


    MEDAL STUFF GOES HERE
  </div>
</ion-content>
