<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button href="/home">
          <ion-icon slot="icon-only" name="md-stats"></ion-icon>
        </ion-button>
        <ion-button href="/settings">
          <ion-icon slot="icon-only" name="ios-cog"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button href="/login">
          <ion-icon slot="icon-only" name="md-log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
    Configure your settings below
    </div>

    <ion-list>
      
        <!--
        Enable prucahse rounding?
        <ion-checkbox></ion-checkbox>
        -->

        <ion-item>
          <ion-label>Enable purcahse rounding?</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <!--
        Amount you would like to have added onto each debit card purchase.
        <ion-item>
          <ion-range min="0" max="100" color="secondary" pin="true" step="1" snaps="true">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">100</ion-label>
          </ion-range>
        </ion-item>
        -->


        <!-- input for amount added onto purchase -->
        <!--
        Amount you would like to have added onto each debit card purchase.
        <ion-item>
          <ion-input type="number" value="5"></ion-input>
        </ion-item>
        -->

        <!-- Inputs with labels -->
        <ion-item>
          <ion-label>Bank Account Number</ion-label>
          <ion-input text-right placeholder="Enter Input"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Bank Routing Number</ion-label>
          <ion-input text-right placeholder="Enter Input" ></ion-input>
        </ion-item>
 
        How your donations will be allocated: 
        <ion-item>
            <ion-label>United Way</ion-label>
            <ion-input text-right placeholder="Percent of your donations" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Freestore Food Bank</ion-label>
            <ion-input text-right placeholder="Percent of your donations" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>MEAC</ion-label>
            <ion-input text-right placeholder="Percent of your donations" ></ion-input>
        </ion-item>
    
    
    
    </ion-list>

</ion-content>
