<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
    Configure your settings below
    </div>

    <ion-list>
      
        Would you like to have purchases rounded up to the nearest dollar?
        <!-- Default Checkbox -->
        <ion-checkbox></ion-checkbox>

        <!--
        Amount you would like to have added onto each debit card purchase.
        <ion-item>
          <ion-range min="0" max="100" color="secondary" pin="true" step="1" snaps="true">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">100</ion-label>
          </ion-range>
        </ion-item>
        -->


        <!-- input for amount added onto purchase -->
        <!--
        Amount you would like to have added onto each debit card purchase.
        <ion-item>
          <ion-input type="number" value="5"></ion-input>
        </ion-item>
        -->

        <!-- Inputs with labels -->
        <ion-item>
          <ion-label>Bank Account Number</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Bank Routing Number</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>

        
    
    
    
    </ion-list>

</ion-content>
